header {
	padding: 0.2em 1em;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	background-color: var(--white-cl);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-cont {
	display: flex;
	align-items: center;
	gap: 1em;
	text-decoration: none;
	margin-right: auto;
}

.logo-cont > h2 {
	color: var(--primary-color);
	border-bottom: 4px solid;
	padding-bottom: 0.1em;
}

.search-box {
	background-color: var(--search-bg);
	display: flex;
	align-items: center;
	gap: 1em;
	border-radius: 0.1em;
}

.search-box > input {
	outline: none;
	border: none;
	padding-left: 1em;
	background-color: var(--search-bg);
	font-size: 0.825rem;
	color: var(--input-cl);
}

.search-icon {
	color: var(--icon-color);
	padding: 0.4em 0.6em;
}

.search-icon:hover {
	background-color: var(--hover-icon-bg);
	color: var(--white-cl);
}

.profile-icon {
	margin-left: 2em;
	color: var(--primary-color);
}

@media (min-width: 768px) {
    nav {
		flex-wrap: wrap;
	}

	.logo-cont {
		order: 1;
		gap: 0.9em;
	}

	.logo-cont > h2 {
		font-size: 1.4rem;
	}

	.search-box {
		order: 3;
		width: 100%;
		justify-content: space-between;
	}

	.profile {
		order: 2;
	}

	.profile-icon {
		margin-left: 1em;
	}
}