.login-cont {
	background-color: var(--white-cl);
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	border: 2px solid var(--search-bg);
	border-radius: 0.4em;
}

.login-cont > h1 {
	color: var(--form-head-cl);
	font-weight: 500;
	text-align: center;
}

.login-btn {
	background-color: var(--login-bg);
}

.guest-btn {
	background-color: var(--guest-bg);
}