.sidebar-cont {
	background-color: var(--white-cl);
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 2;
	padding: 0.5em;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	gap: 1.5em;
	overflow: auto;
}

.sidebar-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.4em;
	color: var(--side-icon-cl);
    white-space: nowrap;
    font-size: 0.7rem;
}

.sidebar-link:hover,
.active {
	color: var(--active-cl);
}

@media (min-width: 768px) {
	.sidebar-cont{
        width: 6rem;
        height: 100%;
        z-index: 2;
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .sidebar-link {
        font-size: 0.9rem;
    }
}
